In [ ]:
cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
x = len(cars)
cars.append("Honda")
cars.pop(1)
cars.remove("Volvo")
print(cars)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020 #dublicate values will overwrite existing values
}
print(thisdict)

print(len(thisdict))

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

In [ ]:
for x in "banana":
  print(x)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

list1 = ["abc", 34, True, 40, "male"]

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
myset = {"apple", "banana", "cherry"}

thisset = {"apple", "banana", "cherry", "apple"} #dublicate values will be ignored
print(thisset)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1